<!-- Logo -->
<a href="#/" class="logo" style="text-decoration: none;"><b>CinemaHD</b></a>
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu pull-left">
        <ul class="nav navbar-nav">
            <li ng-show="previous">
                <a role="button" onClick="javascript:history.go(-1);" ><i class="ion-chevron-left"></i></a>
            </li>
            <li>
                <a ui-sref="factsheets.create" data-toggle="control-sidebar"><i class="fa fa-plus"></i></a>
            </li>
        </ul>
    </div>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <span>coucou</span>
        </ul>
    </div>
</nav>
