<section class="content-header text-center">
    <h1>Orders :</h1>
</section>

<section class="content" ng-if="0 != totalItems">
	<form class="form-inline">
		<div class="form-group">
			<input type="text" class="form-control" ng-model="query">
		</div>
		<button type="button" class="btn btn-default" ng-click="fetchOrders()">Send</button>
	</form>
	<table class="table">
		<thead>
			<tr>
				<th>firstname</th>
				<th>lastname</th>
				<th>email</th>
				<th>created_at</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="order in pagedOrders">
				<td>{{ ::order.user.firstname }} </td>
				<td>{{ ::order.user.lastname }}</td>
				<td>{{ ::order.user.email }}</td>
				<td>{{ ::order.created_at }}</td>
			</tr>
		</tbody>
	</table>
	<ul
		uib-pagination
		boundary-links="true"
		boundary-link-numbers="true"
		total-items="pagination.totalItems"
		ng-model="pagination.currentPage"
		previous-text="Prev"
		next-text="Next"
		first-text="First page"
		ng-change="getPage()"
		last-text="Last page"
		rotate="false"
		max-size="10"
		class="pagination-sm center"
		style="margin-left:25%; margin-rigth:25%;"></ul>
</section>
